body {
background: #ef4c00fe;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
height: 100%;}


.wrapper {
width: 800px;
text-align: center;
margin:50px auto;
    color: #fff;}
    
    
h1 {
font-family: "Roboto", sans-serif;
font-weight: 300;
font-size: 40px;
text-transform:uppercase;}


#seconds, #tens {
font-size: 80px;
}

button {
border-radius: 10px;
    background: #ffa600;
color: #fff;
border: solid 1px #fff;
cursor: pointer;
font-size: 20px;
padding-top:18px;
padding-bottom: 15px;
width: 180px;
margin: 10px;
}

button:hover {
    transition-duration: 0.5s;
    
    background-color: #fff;
    border: solid 1px #fff;
    color: #ffa600;
}